<app-dashboard-header></app-dashboard-header>
<div class="row justify-content-center mb-4">
  <div class="col-md-7">
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive shadow-lg text-center">
          <table class="table table-borderless table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th scope="col">Họ tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>1</th>
              <td>Trần Hải Triều</td>
              <td>trieu@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <th>2</th>
              <td>Ngô Hoàng Xuân Vinh</td>
              <td>vinh@yahoo.com</td>
              <td>+84 903 306 459</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <th>3</th>
              <td>Nguyễn Trọng Nhân</td>
              <td>nhan@yahoo.com</td>
              <td>+84 903 346 459</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <th>4</th>
              <td>Cao Hoàng Dũng</td>
              <td>dung@yahoo.com</td>
              <td>+84 903 903 929</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <th>5</th>
              <td>Nguyễn Dũng Sơn Tùng</td>
              <td>tung@yahoo.com</td>
              <td>+84 903 306 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
