<div class="container mt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-md-6 col-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Đăng nhập</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <div class="alert alert-danger mb-3 border-0" *ngIf="errorMessage">{{this.errorMessage}}</div>
              <label>Email</label>
              <input name="" class="form-control" type="email" formControlName="email">
              <span class="text-danger" *ngIf="isInvalidField('email')">Email không hợp lệ</span>
            </div> <!-- form-group// -->
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" formControlName="password">
              <span class="text-danger" *ngIf="isInvalidField('password')">Mật khẩu không hợp lệ</span>
            </div> <!-- form-group// -->
            <div class="form-group mt-4">
              <button class="btn btn-primary btn-block">Đăng nhập</button>
            </div> <!-- form-group// -->
          </form>
        </div> <!-- card-body.// -->
        <div class="card-footer text-center">Bạn chưa có tài khoản? <a [routerLink]="['/register']">Đăng kí ngay</a></div>
      </div> <!-- card .// -->
    </div>
  </div>
</div>


