<app-header></app-header>
<!-- BANNERS -->
<div class="row">
  <div class="col-xl-12">
    <a routerLink="/category/3" style="cursor: pointer;"><img src="../../assets/ui-assets/images/003.png" class="img-fluid"></a>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 mt-4">
    <a routerLink="/category/2" style="cursor: pointer;"><img src="../../assets/ui-assets/images/001.png" class="img-fluid"/></a>
  </div>
  <div class="col-xl-6 mt-4">
    <a routerLink="/category/1"><img src="../../assets/ui-assets/images/002.png" alt="" class="img-fluid"></a>
  </div>
</div>

<div class="container mt-4">
  <!-- FEATURES -->
  <div class="row">
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-truck"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Chuyển phát nhanh</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-dollar-sign"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Giá cả hợp lý</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-lock"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Thanh toán an toàn</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
  </div>
  <!-- PRODUCTS -->
  <div class="row justify-content-center mt-2">
    <button class="btn btn-outline-dark rounded-0" (click)="onNewProduct()">Xem hàng mới nhập <i class="fa fa-arrow-right ml-1"></i></button>
  </div>
</div>


