<app-header></app-header>
<!-- BANNERS -->
<div class="row">
  <div class="col-xl-12">
    <img src="../../assets/ui-assets/images/003.png" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xl-6 mt-4">
    <img src="../../assets/ui-assets/images/001.png" class="img-fluid"/>
  </div>
  <div class="col-xl-6 mt-4">
    <img src="../../assets/ui-assets/images/002.png" alt="" class="img-fluid">
  </div>
</div>

<div class="container mt-4">
  <!-- FEATURES -->
  <div class="row">
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-truck"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Fast Delivery</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-dollar-sign"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Reasonable Price</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
    <div class="col-md-4">
      <article class="card card-body border-0">
        <figure class="text-center">
          <span class="rounded-circle icon-md"><i class="fa fa-lock"></i></span>
          <figcaption class="pt-2">
            <h5 class="title">Secure Payment</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
          </figcaption>
        </figure> <!-- iconbox // -->
      </article> <!-- panel-lg.// -->
    </div>
  </div>

  <!-- PRODUCTS -->
  <div class="row justify-content-center mt-4 mb-4">
    <button class="btn btn-dark btn-lg rounded-0" style="font-weight: 900 !important;">NEW DEALS</button>
  </div>
  <div class="row pt-4">
    <div class="col-4">
      <app-home-item></app-home-item>
    </div>
    <div class="col-4">
      <a style="cursor: pointer;" class="card card-product-grid rounded-0 border-0">
        <img src="../../../assets/ui-assets/images/deal-002.jpg" class="card-img rounded-0">
        <figcaption class="info-wrap text-center">
          <p class="title text-truncate">Áo gió</p>
          <div class="price">$179.00</div> <!-- price-wrap.// -->
        </figcaption>
      </a> <!-- card // -->
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <button class="btn btn-outline-dark rounded-0">See more <i class="fa fa-arrow-right"></i></button>
  </div>
</div>


