<app-dashboard-header></app-dashboard-header>
<div class="container mt-4">
  <div class="row text-center mt-4" *ngIf="!isAnyOrder">
    <div class="col-12">
      <p class="alert alert-warning">Không có đơn hàng</p>
    </div>
  </div>
  <!--  TABLE  -->
  <div class="row mt-4" *ngIf="isAnyOrder">
    <div class="col-12">
      <div class="table-responsive text-center">
        <table class="table table-bordered table-hover text-center shadow-sm roundedr">
          <thead>
          <tr>
            <th scope="col">Đơn hàng</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tổng cộng</th>
            <th scope="col">Tình trạng</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <th scope="row">{{order.id}}</th>
              <td>{{order.name}}</td>
              <td>{{customDate(order.dateCreated)}}</td>
              <td>{{order.totalPrice}}<u>đ</u></td>
              <td>
                <select class="form-control" (change)="onSetStatus(order.id, $event.target.value)" *ngIf="!order.staffEdit">
                  <option [selected]="order.status === 'PROCESSING' ? true : null">Đang xử lí</option>
                  <option [selected]="order.status === 'DELIVERED' ? true : null">Hoàn thành</option>
                  <option [selected]="order.status === 'RETURN' ? true : null">Hoàn trả</option>
                </select>
                <span *ngIf="order.staffEdit && isStaff()">{{order.status}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="isAnyOrder">
    <div class="col-md-6 ml-auto">
      <ngb-pagination [(page)]="pageNumber"
                      [pageSize]="pageSize"
                      [collectionSize]="totalElements"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      (pageChange)="listOrders()">
        <ng-template ngbPaginationPrevious><i class="fa fa-caret-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="fa fa-caret-right"></i></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>



