<app-dashboard-header></app-dashboard-header>
<div class="container mt-4">
  <!--  TABLE  -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="table-responsive shadow-lg text-center">
        <table class="table table-borderless table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tổng cộng</th>
            <th scope="col">Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Khách hàng 1</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Khách hàng 2</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Khách hàng 3</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Khách hàng 4</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Khách hàng 5</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Khách hàng 6</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Khách hàng 7</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Khách hàng 8</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Khách hàng 9</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Khách hàng 10</td>
            <select class="form-control">
              <option>Đang xử lý</option>
              <option>Tạm hoãn</option>
              <option>Hoàn thành</option>
            </select>
            <td>10/10/1995</td>
            <td>199,000</td>
            <td>
              <i class="fa fa-edit text text-success mr-2"></i>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



