<app-dashboard-header></app-dashboard-header>
<div class="row justify-content-center mb-4">
  <div class="col-md-7">
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive shadow-lg">
          <table class="table table-borderless table-hover">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone number</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Full name</td>
              <td>email@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


