<app-dashboard-header></app-dashboard-header>
<div class="row justify-content-center mb-4">
  <div class="col-md-7">
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive shadow-lg text-center">
          <table class="table table-borderless table-hover">
            <thead>
            <tr>
              <th scope="col">Họ tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Customer 1</td>
              <td>cus1@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 2</td>
              <td>cus2@yahoo.com</td>
              <td>+84 903 906 998</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 3</td>
              <td>cus3@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 4</td>
              <td>cus4@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 5</td>
              <td>cus5@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 6</td>
              <td>cus6@yahoo.com</td>
              <td>+84 903 906 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 7</td>
              <td>cus7@yahoo.com</td>
              <td>+84 903 136 999</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 8</td>
              <td>cus8@yahoo.com</td>
              <td>+84 903 946 111</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            <tr>
              <td>Customer 9</td>
              <td>cus9@yahoo.com</td>
              <td>+84 903 906 456</td>
              <td>
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


