<app-dashboard-header></app-dashboard-header>
<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center shadow-sm rounded">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers">
            <th scope="row">{{customer.id}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>
              <a style="cursor: pointer;" (click)="addStaffRole(customer)"><i class="fa fa-edit text text-success mr-2"></i></a>
              <i class="fa fa-trash text text-danger"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




