<app-header></app-header>
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Sản phẩm mới</h2>
  </div> <!-- container //  -->
</section>
<div class="container mt-4">
  <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">Không tìm thấy sản phẩm</div>
  <div class="row">
    <a style="cursor: pointer; text-decoration: none; color: black !important;" class="col-md-3" *ngFor="let product of products" routerLink="/products/{{product.id}}" >
      <figure class="card border-0 text-center">
        <div class="img-wrap">
          <img src="{{ product.images[0].imagePath }}"/>
        </div>
        <figcaption class="mt-2">
          <p class="mb-0">{{product.name}}</p>
          <div class="price-wrap">
            <span class="price">{{product.unitPrice}}<u>đ</u></span>
          </div> <!-- price-wrap.// -->
        </figcaption>
      </figure> <!-- card // -->
    </a>
  </div>

</div>
