<app-header></app-header>
<div class="container mt-5">
  <div class="card border-0">
    <div class="row no-gutters">
      <aside class="col-sm-6">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <a><img src="{{ bigImageUrl }}"></a>
          </div> <!-- img-big-wrap.// -->
          <div class="thumbs-wrap">
            <a (click)="onChangeImage(i)" style="cursor: pointer;" class="item-thumb border-0" *ngFor="let imageUrl of imageUrls; let i = index"> <img src="{{ imageUrl }}"></a>
          </div> <!-- thumbs-wrap.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-sm-6">
        <article class="content-body">
          <h5 class="title">{{this.product.name.toUpperCase()}}</h5>
          <p class="mb-0">{{this.product.description}}</p>

          <div class="h3 mb-4">
            <var class="price h4 text-danger">{{this.product.unitPrice}}<u>đ</u></var>
          </div> <!-- price-wrap.// -->

          <div class="form-row">
            <div class="col-xl-2 mr-3">
              <label>Số lượng</label>
              <select class="form-control rounded-0 border-dark" (change)="onSetQuantity($event.target.value)">
                <option *ngFor="let quantity of quantities"> {{quantity}} </option>
              </select>
            </div> <!-- col.// -->
            <div class="col-xl-2 mr-3">
              <label>Kích cỡ</label>
              <select class="form-control border-dark rounded-0" (change)="onSetSize($event.target.value)">
                <option *ngFor="let size of product.sizes">{{size.size}}</option>
              </select>
            </div> <!-- col.// -->
            <div class="col-xl-4 mr-3">
              <label>Màu sắc</label>
              <select class="form-control border-dark rounded-0" (change)="onSetColor($event.target.value)">
                <option *ngFor="let color of product.colors">{{color.name}}</option>
              </select>
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <div class="row mt-4">
            <div class="col-xl-4">
              <button type="button" class="btn btn-outline-dark rounded-0 w-100" (click)="onAddToCart()"> <span class="text">Mua hàng</span> <i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
          <div class="alert alert-danger mt-4 mb-3 border-0 rounded-0" *ngIf="errorMessage">{{this.errorMessage}}</div>
        </article> <!-- product-info-aside .// -->
      </main> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->

</div>

