<app-header></app-header>
<div class="container mt-5">
  <div class="card border-0">
    <div class="row no-gutters">
      <aside class="col-sm-6">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <a href="#"><img src="{{ images[0].imagePath }}"></a>
          </div> <!-- img-big-wrap.// -->
          <div class="thumbs-wrap">
            <a href="#" class="item-thumb border-0" *ngFor="let image of images"> <img src="{{ image.imagePath }}"></a>
          </div> <!-- thumbs-wrap.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-sm-6">
        <article class="content-body">
          <h5 class="title">{{this.product.name.toUpperCase()}}</h5>
          <p class="mb-0">{{this.product.description}}</p>

          <div class="h3 mb-4">
            <var class="price h4 text-danger">{{this.product.unitPrice}}<u>đ</u></var>
          </div> <!-- price-wrap.// -->

          <div class="form-row">
            <div class="col-xl-2 mr-3">
              <label>Số lượng</label>
              <select class="form-control rounded-0 border-dark">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
              </select>
            </div> <!-- col.// -->
            <div class="col-xl-2 mr-3">
              <label>Kích cỡ</label>
              <select class="form-control border-dark rounded-0">
                <option *ngFor="let size of product.sizes">{{size.size}}</option>
              </select>
            </div> <!-- col.// -->
            <div class="col-xl-4 mr-3">
              <label>Màu sắc</label>
              <select class="form-control border-dark rounded-0">
                <option *ngFor="let color of product.colors">{{color.name}}</option>
              </select>
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <div class="row mt-4">
            <div class="col-xl-4">
              <a href="#" class="btn  btn-outline-dark rounded-0 w-100"> <span class="text">Mua hàng</span> <i class="fas fa-shopping-cart"></i>  </a>
            </div>
          </div>

        </article> <!-- product-info-aside .// -->
      </main> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->

</div>

