<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4 col-md-4 col-5">
          <a [routerLink]="['/home']" class="navbar-brand"><img src="../../../assets/ui-assets/images/logo4.png" alt=""></a>
        </div>
        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
          <form class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" style="width:55%;" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
          <div class="d-flex justify-content-end">
            <a [routerLink]="['/cart']" class="widget-header mr-3" *ngIf="!isGuest()">
              <div class="icon">
                <i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
                <span class="notify">0</span>
              </div>
            </a>
            <div class="widget-header" *ngIf="isGuest()">
              <small class="title text-muted">Kính chào quý khách!</small>
              <div>
                <a style="cursor: pointer;" [routerLink]="['/login']">Đăng nhập</a> <span class="dark-transp"> | </span>
                <a style="cursor: pointer;" [routerLink]="['/register']"> Đăng kí</a>
              </div>
            </div>

            <div class="widget-header dropdown" *ngIf="!isGuest()" ngbDropdown>
              <a style="cursor:pointer;" data-toggle="dropdown" class="dropdown-toggle"  data-offset="20,10" ngbDropdownToggle>
                <div class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></div>
                <span class="sr-only">Hồ sơ cá nhân</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/profile']" ngbDropdownItem>Thông tin tài khoản</a>
                <a class="dropdown-item" href="#" ngbDropdownItem>Đơn hàng</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" style="cursor:pointer;" (click)="onSignOut()" ngbDropdownItem>Đăng xuất</a>
              </div> <!--  dropdown-menu .// -->
            </div>  <!-- widget-header .// -->


          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->


  <nav class="navbar navbar-expand-md navbar-main navbar-dark bg-dark">
    <div class="container">
      <form class="d-md-none my-2">
        <div class="input-group">
          <input type="search" name="search" class="form-control" placeholder="Search" required="">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i> </button>
          </div>
        </div>
      </form>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#mainnav" (click)="onMenu()" style="outline: none;">
        <i class='fas fa-times' *ngIf="isOpen"></i>
        <i class="fas fa-bars" *ngIf="!isOpen"></i>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="mainnav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;" ngbDropdownToggle>Tất cả mặt hàng</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" style="cursor:pointer;" ngbDropdownItem *ngFor="let category of categoryList">{{category.name}}</a>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" [routerLink]="['/products']">Hàng mới</a></li>
        </ul>

        <ul class="navbar-nav" *ngIf="isAdminOrStaff()">
          <li class="nav-item"><a [routerLink]="['/dashboard']" class="btn btn-light ml-md-4">Trang quản lý</a></li>
        </ul>
      </div> <!-- collapse .// -->
    </div> <!-- container .// -->
  </nav>

</header> <!-- section-header.// -->
