<div class="card mt-4">
  <article class="card-body">
    <div class="row">
      <div class="col-md-7">
        <figure class="media">
          <div class="img-wrap mr-3">
            <img src="{{imageUrl}}" class="img-sm">
          </div>
          <figcaption class="media-body">
            <a class="title h6">{{item.name}}</a>
            <br>
            <small>Màu: {{item.color}}, Size: {{item.size}}</small>
            <div class="price-wrap">{{price}}</div>
          </figcaption>
        </figure>
      </div> <!-- col.// -->
      <div class="col-md-5 text-md-right text-right">
        <div class="input-group input-spinner mr-2">
          <select class="btn btn-light form-control">
            <option *ngFor="let quantity of quantities">{{quantity}}</option>
          </select>
        </div> <!-- input-group.// -->
        <a class="btn btn-light" (click)="onDeleteItem()"> <i class="fa fa-trash"></i> </a>
      </div>
    </div> <!-- row.// -->
  </article> <!-- card-group.// -->
</div>
