<div class="card">
  <article class="card-body">
    <div class="row">
      <div class="col-md-7">
        <figure class="media">
          <div class="img-wrap mr-3"></div>
          <figcaption class="media-body">
            <a href="#" class="title h6">Some name of item goes here nice </a>
            <div class="price-wrap">$1280</div>
          </figcaption>
        </figure>
      </div> <!-- col.// -->
      <div class="col-md-5 text-md-right text-right">
        <div class="input-group input-spinner mr-2">
          <select class="btn btn-light form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div> <!-- input-group.// -->
        <a href="#" class="btn btn-light"> <i class="fa fa-trash"></i> </a>
      </div>
    </div> <!-- row.// -->
  </article> <!-- card-group.// -->
</div>
