<app-header></app-header>
<div class="container mt-4 text-center" *ngIf="!isAnyProduct">
  <p class="alert alert-warning rounded-0 border-0" >Không tìm thấy sản phẩm nào</p>
  <p class="display-2"><i class="fa fa-frown"></i></p>
  <button class="btn btn-outline-dark rounded-0" (click)="onNavigate()">Quay lại trang chủ</button>
</div>
<div class="container mt-4" *ngIf="isAnyProduct">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <app-product-item [productInput] = "product" [id] = "product.id"></app-product-item>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 ml-auto">
      <ngb-pagination [(page)]="pageNumber"
                      [pageSize]="pageSize"
                      [collectionSize]="totalElements"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      (pageChange)="listProducts()">
        <ng-template ngbPaginationPrevious><i class="fa fa-caret-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="fa fa-caret-right"></i></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>

