<app-header></app-header>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 mb-2">
      <!--   SIDEBAR   -->
      <article class="card mb-4 border-0 rounded-0">
        <div class="card-body">
          <figure class="icontext">
            <div class="text">
              <h3 class="mb-4"> <i class="fa fa-user"></i> {{this.account.name}}</h3>
              <p class="mb-3"><i class="fa fa-envelope"></i> Email: {{this.account.email}}</p>
              <p class="mb-3"><i class="fa fa-phone"></i> Số điện thoại: {{this.account.phone}}</p>
              <p class="mb-3" *ngIf="this.account.cmnd"><i class="fa fa-id-card"></i> CMND: {{this.account.cmnd}}</p>
              <p class="mb-3" *ngIf="!this.account.cmnd"><i class="fa fa-id-card"></i> CMND: n/a</p>
              <p class="mb-3" *ngIf="!this.account.age"><i class="fa fa-birthday-cake"></i> Tuổi: n/a</p>
              <p class="mb-3" *ngIf="this.account.age"><i class="fa fa-birthday-cake"></i> Tuổi: {{this.account.age}}</p>
              <p><i class="fa fa-map-marker"></i> Địa chỉ: {{this.account.address}}</p>
            </div>
          </figure>
        </div> <!-- card-body .// -->
      </article> <!-- card.// -->
      <!--   SIDEBAR .//END   -->
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Cập nhật thông tin</h4>
          <form [formGroup]="profileEditForm" (ngSubmit)="onUpdateProfile()">
            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Họ và tên</label>
              <div class="col">
                <input type="text" class="form-control" placeholder="Họ và tên" formControlName="name">
                <span class="text-danger" *ngIf="isInvalidField('name')">Họ tên không bỏ trống</span>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Địa chỉ</label>
              <div class="col">
                <input type="text" class="form-control" placeholder="Địa chỉ nhà" formControlName="address">
                <span class="text-danger" *ngIf="isInvalidField('address')">Địa chỉ không bỏ trống</span>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Số điện thoại</label>
              <div class="col">
                <input class="form-control" placeholder="Số điện thoại" type="text" formControlName="phone">
                <span class="text-danger" *ngIf="isInvalidField('phone')">Số điện thoại dạng số, tối đa 10 số, không bỏ trống</span>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">CMND</label>
              <div class="col">
                <input class="form-control" placeholder="Chứng minh nhân dân" type="text" formControlName="cmnd">
                <span class="text-danger" *ngIf="isInvalidField('cmnd')">CMND dạng số và phải có 9 số</span>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Tuổi</label>
              <div class="col">
                <input class="form-control" placeholder="Tuổi" type="number" formControlName="age">
                <span class="text-danger" *ngIf="isInvalidField('age')">Số tuổi ở dạng số, tối thiểu 3 tuổi tối đa 150 tuổi</span>
              </div>
            </div>

            <div class="form-group mt-4">
              <button class="btn btn-primary btn-block">Cập nhật</button>
            </div> <!-- form-group// -->
          </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
    </div>
  </div>
</div>

