<app-header></app-header>
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Tài khoản của tôi</h2>
  </div> <!-- container //  -->
</section>
<div class="container mt-4">
  <div class="row">
    <aside class="col-md-3 mb-4">
      <!--   SIDEBAR   -->
      <ul class="list-group">
        <a class="list-group-item active" href="#"> Lịch sử đơn hàng </a>
        <a class="list-group-item" style="text-decoration: none;">Cập nhật hồ sơ </a>
      </ul>
      <br>
      <a class="btn btn-dark btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Đăng xuất</span> </a>
      <!--   SIDEBAR .//END   -->
    </aside>

    <main class="col-md-9">
      <article class="card mb-4">
        <div class="card-body">

          <figure class="icontext">
            <div class="text">
              <strong> Mr. Triều </strong> <br>
              trieu@gmail.com <br>
              +1234567890
            </div>
          </figure>
          <hr>
          <p>
            <i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ của tôi:
            <br>
            358 Tôn Đản Phường 15 Quận 4 TP.Hồ Chí Minh
            <a href="#" class="btn-link"> Chỉnh sửa</a>
          </p>

          <article class="card-group">
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">38</h5>
                <span>Đơn hàng</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">5</h5>
                <span>Yêu thích</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">12</h5>
                <span>Chờ giao hàng</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">50</h5>
                <span>Sản phẩm đã giao</span>
              </div>
            </figure>
          </article>


        </div> <!-- card-body .// -->
      </article> <!-- card.// -->

      <article class="card mb-4">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Mã đơn hàng: 6123456789</strong>
          <span>Ngày lên đơn: 1 Tháng 2 năm 2019</span>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h6 class="text-muted">Giao cho</h6>
              <p>Triều <br>
                Số điện thoại +1234567890 <br>
                Email: trieu@gmail.com <br>
                Điểm giao hàng: 456/123 Khánh Hội, TP.Hồ Chí Minh <br>
              </p>
            </div>
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
      </article>
      <article class="card mb-4">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Mã đơn hàng: 6123456789</strong>
          <span>Ngày lên đơn: 16 Tháng 10 năm 2018</span>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h6 class="text-muted">Giao cho</h6>
              <p>Triều <br>
                Số điện thoại +1234567890 <br>
                Email: trieu@gmail.com <br>
                Điểm giao hàng: 456/123 Khánh Hội, TP.Hồ Chí Minh <br>
              </p>
            </div>
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
      </article>
    </main>
  </div>
</div>

