<app-header></app-header>
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">My account</h2>
  </div> <!-- container //  -->
</section>
<div class="container mt-4">
  <div class="row">
    <aside class="col-md-3 mb-4">
      <!--   SIDEBAR   -->
      <ul class="list-group">
        <a class="list-group-item active" href="#"> Order history </a>
        <a class="list-group-item" style="text-decoration: none;">Update profile </a>
      </ul>
      <br>
      <a class="btn btn-dark btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
      <!--   SIDEBAR .//END   -->
    </aside>

    <main class="col-md-9">
      <article class="card mb-4">
        <div class="card-body">

          <figure class="icontext">
            <div class="text">
              <strong> Mr. Full Name </strong> <br>
              myloginname@gmail.com <br>
              +1234567890
            </div>
          </figure>
          <hr>
          <p>
            <i class="fa fa-map-marker text-muted"></i> &nbsp; My address:
            <br>
            Tashkent city, Street name, Building 123, House 321 &nbsp
            <a href="#" class="btn-link"> Edit</a>
          </p>

          <article class="card-group">
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">38</h5>
                <span>Orders</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">5</h5>
                <span>Wishlists</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">12</h5>
                <span>Awaiting delivery</span>
              </div>
            </figure>
            <figure class="card bg">
              <div class="p-3">
                <h5 class="card-title">50</h5>
                <span>Delivered items</span>
              </div>
            </figure>
          </article>


        </div> <!-- card-body .// -->
      </article> <!-- card.// -->

      <article class="card mb-4">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
          <span>Order Date: 16 December 2018</span>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h6 class="text-muted">Delivery to</h6>
              <p>John Doe <br>
                Phone +1234567890 <br>
                Email: myname@gmail.com <br>
                Location: 456 Street 123, Ho Chi Minh City <br>
              </p>
            </div>
            <div class="col-md-4">
              <h6 class="text-muted">Payment</h6>
              <span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  **** 4216
					</span>
              <p>Subtotal: $356 <br>
                Shipping fee:  $56 <br>
                <span class="b">Total:  $456 </span>
              </p>
            </div>
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
      </article>
      <article class="card">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
          <span>Order Date: 16 December 2018</span>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h6 class="text-muted">Delivery to</h6>
              <p>John Doe <br>
                Phone +1234567890 <br>
                Email: myname@gmail.com <br>
                Location: 456 Street 123, Ho Chi Minh City <br>
              </p>
            </div>
            <div class="col-md-4">
              <h6 class="text-muted">Payment</h6>
              <span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  **** 4216
					</span>
              <p>Subtotal: $356 <br>
                Shipping fee:  $56 <br>
                <span class="b">Total:  $456 </span>
              </p>
            </div>
          </div> <!-- row.// -->
        </div> <!-- card-body .// -->
      </article>
    </main>
  </div>
</div>

