<footer class="section-footer border-top mt-5">
  <div class="container">
    <section class="footer-top padding-y">
      <div class="row">
        <aside class="col-md-4">
          <article class="mr-3">
            <a style="cursor:pointer; color: black;" class="brand-swap" [routerLink]="['/home']"><img src="../../assets/ui-assets/images/logo4.png"/></a>
            <div class="mt-2">
              <a class="btn btn-icon" title="Facebook" target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-icon" title="Instagram" target="_blank" href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a class="btn btn-icon" title="Youtube" target="_blank" href="http://www.youtube.com"><i class="fab fa-youtube"></i></a>
              <a class="btn btn-icon" title="Twitter" target="_blank" href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
            </div>
          </article>
        </aside>
        <aside class="col-sm-3 col-md-2">
          <h6 class="title">About</h6>
          <ul class="list-unstyled">
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Rules and terms</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3 col-md-2">
          <h6 class="title">Services</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Help center</a></li>
            <li> <a href="#">Terms and Policy</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-2">
          <h6 class="title">For users</h6>
          <ul class="list-unstyled">
            <li> <a style="cursor:pointer;" [routerLink]="['/login']"> Login </a></li>
            <li> <a style="cursor:pointer;" [routerLink]="['/register']"> Register </a></li>
          </ul>
        </aside>
        <aside class="col-sm-2  col-md-2">
          <h6 class="title">Our app</h6>
          <a href="http://www.apple.com" class="d-block mb-2"><img src="../../assets/ui-assets/images/appstore.png" height="40"/></a>
          <a href="http://www.google.com"  class="d-block mb-2"><img src="../../assets/ui-assets/images/playmarket.png" height="40"/></a>
        </aside>
      </div> <!-- row.// -->
    </section>	<!-- footer-top.// -->

    <section class="footer-copyright border-top mb-4">
      <p class="float-left text-muted"> ©2020 Unique Fashion  All rights reserved </p>
    </section>
  </div><!-- //container -->
</footer>

