<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xl-9 mt-4">
      <app-cart-item></app-cart-item>
    </div>
    <div class="col-xl-3 mt-4">
      <div class="card">
        <div class="card-body">
          <dl class="dlist-align">
            <dt>Total price:</dt>
            <dd class="text-right">$69.97</dd>
          </dl>
          <dl class="dlist-align">
            <dt>Discount:</dt>
            <dd class="text-right text-danger">- $10.00</dd>
          </dl>
          <dl class="dlist-align">
            <dt>Total:</dt>
            <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
          </dl>
          <hr>
          <p class="text-center mb-3"></p>
          <a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
          <a href="#" class="btn btn-light btn-block">Continue Shopping</a>
        </div> <!-- card-body.// -->
      </div> <!-- card.// -->
    </div>
  </div>
</div>
