<div class="container">
  <!-- Stats -->
  <div class="row mb-2" *ngIf="isAnyProduct">
    <div class="col-xl-3 col-md-5 mt-4">
      <div class="card shadow-sm">
        <div class="row no-gutters">
          <div class="col-4 rounded text-center">
            <i class="fa fa-tshirt pt-4 text-warning" style="font-size: 48px;"></i>
          </div>
          <div class="col-8">
            <div class="card-body">
              <h6 class="title mb-0" style="font-size: 18px;">Tổng sản phẩm</h6>
              <p class="card-text mt-0" style="font-size: 20px;">{{this.stats[0]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-md-7 mt-4">
      <div class="card shadow-sm">
        <div class="row no-gutters">
          <div class="col-4 rounded text-center">
            <i class="far fa-check-circle pt-4 text text-success" style="font-size: 48px;"></i>
          </div>
          <div class="col-8">
            <div class="card-body">
              <h6 class="title mb-0" style="font-size: 18px;">Sản phẩm đang bán</h6>
              <p class="card-text mt-0" style="font-size: 20px;">{{this.stats[1]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onAddProduct()"><i class="fa fa-plus"></i> Thêm sản phẩm</button>
    </div>
  </div>

  <div class="row text-center mt-4" *ngIf="!isAnyProduct">
    <div class="col-12">
      <p class="alert alert-warning">Không có sản phẩm</p>
    </div>
  </div>

<!--  TABLE  -->
  <div class="row mt-4" *ngIf="isAnyProduct">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center shadow-sm rounded">
          <thead>
          <tr>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Tên hàng</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <th scope="row"><img src="{{product.images[0].imagePath}}" width="30" height="40"></th>
            <td>{{product.name}}</td>
            <td>{{product.unitPrice}}</td>
            <td>{{product.available ? 'Còn hàng' : 'Hết hàng'}}</td>
            <td>
              <a style="cursor: pointer;" (click)="onEditProduct(product)" *ngIf="isAdmin()"><i class="fa fa-edit mr-2"></i></a>
              <a style="cursor: pointer;" (click)="onChangeAvailability(product, false)"><i class="fa fa-lock-open text text-success" *ngIf="product.available"></i></a>
              <a style="cursor: pointer;" (click)="onChangeAvailability(product, true)"><i class="fa fa-lock text text-danger" *ngIf="!product.available"></i></a>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="isAnyProduct">
    <div class="col-md-6 ml-auto">
      <ngb-pagination [(page)]="pageNumber"
                      [pageSize]="pageSize"
                      [collectionSize]="totalElements"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      (pageChange)="listProducts()">
        <ng-template ngbPaginationPrevious><i class="fa fa-caret-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="fa fa-caret-right"></i></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>


