<app-dashboard-header></app-dashboard-header>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card text-center border-0 shadow-lg mt-2">
        <h1 class="display-4 mt-4">Product Statistic</h1>
        <div class="row">
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Total products</p>
            <h4>123,000</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Total revenue</p>
            <h4>66,000,000đ</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Total order</p>
            <h4>5000</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Total product quantity</p>
            <h4>1,000,000</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Highest order</p>
            <h4>10,000,000đ</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5">
            <p class="mb-0">Lowest order</p>
            <h4>10,000đ</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5 mb-5">
            <p class="mb-0">Most expensive item</p>
            <h4>5,000,000đ</h4>
          </div>
          <div class="col-md-4 col-sm-6 mt-5 mb-5">
            <p class="mb-0">Cheapest item</p>
            <h4>5,000đ</h4>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <button class="btn btn-outline-dark" [routerLink]="['/product-management']">Manage product</button>
        </div>
      </div>
    </div>
  </div>
</div>
