<app-dashboard-header></app-dashboard-header>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="info-box">
        <span class="info-box-icon bg-danger"><i class="fa fa-shopping-bag"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Tổng sản phẩm</span>
          <span class="info-box-number">93,139</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="info-box">
        <span class="info-box-icon bg-success"><i class="fa fa-dollar-sign"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Doanh thu</span>
          <span class="info-box-number">120,000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="info-box">
        <span class="info-box-icon bg-warning"><i class="fa fa-credit-card"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Số đơn hàng</span>
          <span class="info-box-number">12,000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Số khách hàng</span>
          <span class="info-box-number">1000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="info-box">
        <span class="info-box-icon bg-purple"><i class="fa fa-user-circle"></i></span>
        <div class="info-box-content">
          <span class="info-box-info">Số nhân viên</span>
          <span class="info-box-number">1000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="info-box bg-gradient-light">
        <span class="info-box-icon"><i class="fa fa-shopping-bag"></i></span>
        <div class="info-box-content">
          <span class="info-box-number">Mục sản phẩm</span>
          <span class="info-box-info">Vào mục sản phẩm để thêm, sửa xoá sản phẩm. Mỗi sản phẩm cần ít nhất một hình minh hoạ, một màu, một kích cỡ</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="info-box bg-gradient-light">
        <span class="info-box-icon"><i class="fa fa-user-circle"></i></span>
        <div class="info-box-content">
          <span class="info-box-number">Mục nhân viên</span>
          <span class="info-box-info">Vào mục nhân viên để thêm tài khoản nhân viên, kích hoạt/vô hiệu hóa quyền nhân viên.</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="info-box bg-gradient-light">
        <span class="info-box-icon"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-number">Mục khách hàng</span>
          <span class="info-box-info">Vào mục khách hàng để sửa, xoá tài khoản khách hàng.</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="info-box bg-gradient-light">
        <span class="info-box-icon"><i class="fa fa-credit-card"></i></span>
        <div class="info-box-content">
          <span class="info-box-number">Mục hóa đơn</span>
          <span class="info-box-info">Vào mục hóa đơn để cập nhật trạng thái đơn hàng, chỉnh sửa, xóa đơn hàng.</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>
</div>

